:root {  
   --purple: #2b334f;  
   --light: #e4e5e7;
   --dark: #232429;
   --darker: #1a1b1f;
   --blue-dark: #243aaa;
   --yellow-dark: #cca938;
}
html {
   background-color:var(--purple);
   max-width: 100%;
   overflow-x: hidden;
   touch-action: pan-x pan-y;
}
body {  
   background-color:var(--purple);
   color:var(--light);
   font-family: var(--bs-font-monospace);
   word-break: break-word;
   height:100vh;
   min-height:100vh;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -ms-overflow-style: none;  
   scrollbar-width: none;  
}
body::-webkit-scrollbar {
   display: none;
 }




img {
   max-width: 100%;
}
a {
   color:var(--light);
   text-decoration: none;
}
a:hover {
   color:var(--light);
   text-decoration: underline;
}



.white {
   color:white;
}
.bg-purple {
   background-color:var(--purple) !important;
}
.bg-dark {
   background-color:var(--dark) !important;
}
.bg-darker {
   background-color:var(--darker) !important;
}

.dropdown-menu {


   border-radius: 0;
   min-width: 100%;
   border: 1px var(--bs-secondary) solid;
}


#btnCatDrop1 {
   height:44px;
}


.form-control, .btn {
   border-radius: 0;
}

.form-control {
   border: 2px solid var(--light);
}



.navbar-dark .navbar-nav .nav-link {
   color: inherit;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
   color: var(--purple);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
   color: var(--purple);
}



.link:hover {
   text-decoration: underline;
   cursor: pointer;
}

.blog-link-interact:hover, .is-checked {
   border: 1px solid white;
}

.blog-link, .blog-link:hover {
   text-decoration: none;
}

.form-search {
   padding: 8px;
   background: inherit;
   color:white;
}

.modal-content {
   font-family: Arial, Helvetica, sans-serif;
}

#cookie-notice {
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   bottom: 0px;
   background-color:var(--dark);
   color:var(--light);

}

.btn-link:hover,.btn-link:focus {
   color:white !important;
}

.grid {
   min-height:600px;
}
